<div class="container border">
  <div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0" *ngFor="let item of posts">
      <a (click)="openModal(item)"><img *ngIf="item.idPost % 2 == 0" src="{{urlPict+item.listPictures[0].urlPicture}}"
          class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" /></a>

      <img *ngIf="item.idPost % 2 != 0" src="{{urlPict+item.listPictures[0].urlPicture}}"
        class="w-100 shadow-1-strong rounded mb-4" alt="Wintry Mountain Landscape" />
    </div>



  </div>
</div>
<!-- Modal gallery -->
<section class="">


  <!-- Section: Modals -->
  <section class="">
    <!-- Modal 1 -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModal1Label" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="ratio ratio-4x3">


            <div class="card" style="width: 100%">
              <div class="row ">
                <div class="col">
                  <img src="{{urlPict+selectedPost?.listPictures[0].urlPicture}}" class="card-img" alt="...">
                </div>
                <div class="col">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.
                      Some quick example text to build on the card title and make up the bulk of the
                      card's content.
                      Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                      Some quick example text to build on the card title and make up the bulk of the
                      card's content.
                      Some quick example text to build on the card title and make up the bulk of the
                      card's content.
                      Some quick example text to build on the card title and make up the bulk of the
                      card's content.Some quick example text to build on the card title and make up the bulk of the
                      card's content.
                      Some quick example text to build on the card title and make up the bulk of the
                      card's content.
                      Some quick example text to build on the card title and make up the bulk of the
                      card's content.
                      Some quick example text to build on the card title and make up the bulk of the
                      card's content.
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal 2 -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModal2Label" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/wTcNtgA6gHs" title="YouTube video" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal 3 -->
    <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModal3Label" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/vlDzYIIOYmM" title="YouTube video" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Modals -->
</section>
<!-- Modal gallery -->

