<div class="container">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card chat-app">
                <div id="plist" class="people-list">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Search...">
                    </div>
                    <ul class="list-unstyled chat-list mt-2 mb-0" *ngFor="let chat of listOfChats">
                        <li class="clearfix" (click)="OpenChat(chat)">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar">
                            <div class="about">
                                <div class="name">{{chat.idOtherUser}}</div>

                            </div>
                        </li>


                    </ul>
                </div>
                <div class="chat" *ngIf="chatSelected">
                    <div class="chat-header clearfix">
                        <div class="row">
                            <div class="col-lg-6">
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                    <img src="{{urlPict+userSelected.profileImageURL}}" alt="avatar">
                                </a>
                                <div class="chat-about">
                                    <h6 class="m-b-0">{{userSelected.username}}</h6>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="chat-history">
                        <ul class="m-b-0" *ngFor="let message of messageChatSelected">
                            <li class="clearfix" *ngIf="message.idUser == userLoggedIn.uid">
                                <div class="message-data text-right">
                                    <span class="message-data-time">{{message.dateTime|date}}</span>
                                    <img src="{{urlPict+userLoggedIn.profileImageURL}}" alt="avatar">
                                </div>
                                <div class="message other-message float-right"> {{message.content}} </div>
                            </li>
                            <li class="clearfix" *ngIf="message.idUser != userLoggedIn.uid">
                                <div class="message-data">
                                    <span class="message-data-time">{{message.dateTime|date}}</span>
                                </div>
                                <div class="message my-message">{{message.content}}</div>
                            </li>
                        </ul>
                    </div>
                    <form #addMessageForm="ngForm" (ngSubmit)="onAddMessage(addMessageForm.value)">
                        <div class="chat-message clearfix">
                            <div class="input-group mb-0">


                                <input type="text" [hidden]="true" name="idUser" ngModel="{{userLoggedIn.uid}}">
                                <input type="text" [hidden]="true" name="idOtherUser" ngModel="{{userSelected.uid}}">
                                <input type="text" [hidden]="true" name="idChat" ngModel="{{chatSelected.idChat}}">
                                <div class="flex border-top">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="" ngModel name="content" placeholder="Type your message">
                                        <button class="btn btn-primary">Envoyer</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>