<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-body">
                    <div class="card-title mb-4">
                        <div class="d-flex justify-content-start">
                            <div class="image-container">

                                <div class="input-group-mb-2">
                                    <div class="input-group-prepend">

                                        <label for="test">
                                            <img src="{{urlPict+userLoggedIn.profileImageURL}}" id="imgProfile"
                                                width="200" height=" 200" class="img-thumbnail" />

                                        </label>
                                        <input type="file" name="profileImage" id="test" hidden="true"
                                            (change)="onProfileImageChange($event,userLoggedIn.username)"
                                            class="custom-file-input">

                                    </div>

                                </div>
                                <!-- button for modal Profil -->
                                <div>
                                    <button class="btn btn-dark d-inline" (click)="openModalProfil()"><i
                                            class="fas fa-id-card fa-lg"></i></button>

                                    <!-- button for modal Biography -->

                                    <button class="btn btn-dark d-inline" (click)="openModalBiography()"><i
                                            class="fas fa-pen-fancy fa-lg"></i></button>
                                    <!-- button for modal password -->
                                    <button class="btn btn-dark d-inline" (click)="openModalPassword()"><i
                                            class="far fa-key fa-lg"></i></button>

                                    <!-- button for modal Security -->

                                    <button class="btn btn-dark d-inline" (click)="openModalForDeleteUser()">
                                        <i class="far fa-user-slash fa-lg"></i></button>

                                </div>

                            </div>
                            <div class="userData ml-3">
                                <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold; margin-left:10px">
                                    {{userLoggedIn.username}}
                                </h2>

                                <h6 class="d-block">

                                    {{userLoggedIn.listPost.length}} Publications
                                </h6>
                                <h6 class="d-block">

                                    7 Followers
                                </h6>
                                <h6 class="d-block">

                                    8 Suivi(e)
                                </h6>

                            </div>

                        </div>
                        <h6 class="d-block">
                            <H5>Biographie :</H5>
                            <textarea class="form-control" name="" id="" cols="100"
                                rows="5">{{userLoggedIn.biography}}</textarea>

                        </h6>
                    </div>


                    <div class="row">
                        <div class="col-12">
                            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <h3 class="btn" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab"
                                        aria-controls="basicInfo" aria-selected="true">Vos Photos</h3>
                                </li>

                            </ul>
                            <div class="container">


                                <!-- button for modal picture -->
                                <div class="row">
                                    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0" *ngFor="let post of posts">
                                        <a (click)="openModalPhoto(post.idPost)" (click)="closeComment()"><img
                                                src="{{urlPict+post.listPictures[0].urlPicture}}"
                                                class="w-100 shadow-1-strong rounded mb-4"
                                                alt="Boat on Calm Water" /></a>

                                    </div>



                                </div>
                            </div>

                        </div>


                    </div>
                    <!-- modal Profil -->
                    <div class="modal fade" id="myModalProfil" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="row">
                                    <div class="container">

                                        <h2 class="text-center">Modifier l'utilisateur :
                                            {{userLoggedIn.username}}</h2>
                                        <a href="/profil" class="btn btn-primary">Retour</a>
                                        <div class="border">
                                            <form #editUserForm="ngForm" (ngSubmit)="onEdit(editUserForm.value)">
                                                <div class="form-floating mb-3">
                                                    <select name="genre" [(ngModel)]="userLoggedIn.genre">
                                                        <option value="">{{userLoggedIn.genre}}</option>
                                                        <option value="homme">Monsieur</option>
                                                        <option value="femme">Madame</option>
                                                    </select>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <select name="role" [(ngModel)]="userLoggedIn.role">
                                                        <option value="">{{userLoggedIn.role}}</option>
                                                        <option value="ROLE_SUPER_ADMIN">Admin</option>
                                                        <option value="ROLE_USER">User</option>
                                                    </select>
                                                </div>

                                                <label for="floatingInput">Pseudo</label>
                                                <div class="form-floating mb-3">
                                                    <input [(ngModel)]="userLoggedIn.username" name="username"
                                                        type="text" class="form-control" />
                                                </div>
                                                <label for="floatingInput">Email address</label>
                                                <div class="form-floating mb-3">
                                                    <input [(ngModel)]="userLoggedIn.email" name="email" type="email"
                                                        class="form-control" />
                                                </div>

                                                <label for="floatingInput">Nom Complet</label>
                                                <div class="form-floating mb-3">
                                                    <input [(ngModel)]="userLoggedIn.completeName" name="completeName"
                                                        type="text" class="form-control" />
                                                </div>

                                                <label for="floatingInput">Date de naissance</label>
                                                <div class="form-floating mb-3">
                                                    <input [(ngModel)]="userLoggedIn.age" name="age" type="date"
                                                        class="form-control" id="floatingInput" placeholder="prenom"
                                                        required />
                                                </div>
                                                <button type="submit">Envoyer</button>
                                            </form>
                                            {{editUserForm.value|json}}
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- modal biography -->
                    <div class="modal fade" id="myModalBiography" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="row">
                                    <div class="container">
                                        <h6 class="d-block">
                                            <form #editUserBiographyForm="ngForm"
                                                (ngSubmit)="onEdit(editUserBiographyForm.value)">
                                                <H5>Biographie :</H5>
                                                <textarea class="form-control" ngModel name="biography" id="" cols="100"
                                                    rows="5">{{userLoggedIn.biography}}</textarea>
                                                <button type="submit">Publier</button>
                                            </form>
                                            {{editUserBiographyForm.value|json}}
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- modal reset password -->
                    <div class="modal fade" id="myModalResetPassword" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="row">
                                    <div class="container">
                                        <h6 class="d-block">
                                            <form #sendActualPasswordForm="ngForm"
                                                (ngSubmit)="sendActualPassword(sendActualPasswordForm.value)">
                                                <H5>Identifiant:</H5>
                                                <input type="text" class="form-control" ngModel name="username">
                                                <H5>Mot de passe actuel:</H5>
                                                <input type="password" class="form-control" ngModel name="password">
                                                <button type="submit">Envoyer</button>
                                            </form>
                                            {{sendActualPasswordForm.value|json}}

                                        </h6>
                                    </div>
                                    <div class="container d-none" id="changePassword">
                                        <h6 class="d-block">
                                            <form #changePasswordForm="ngForm"
                                                (ngSubmit)="changePassword(changePasswordForm.value)">
                                                <input type="hidden" ngModel="{{userLoggedIn.username}}"
                                                    name="username">
                                                <H5>Nouveau mot de passe:</H5>
                                                <input type="password" class="form-control" ngModel name="password">
                                                <H5>répéter le mot de passe:</H5>
                                                <input type="password" class="form-control" ngModel name="plain">
                                                <button type="submit">Envoyer</button>
                                            </form>
                                            {{changePasswordForm.value|json}}

                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- modal delete account -->
                    <div class="modal fade" id="myModalDeleteUser" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="row">
                                    <div class="container">
                                        <h6 class="d-block">
                                            <form #deleteUserForm="ngForm"
                                                (ngSubmit)="onDeleteUser(deleteUserForm.value)">
                                                <H5>Souhaitez-vous supprimer votre compte définitivement?</H5>

                                                <input type="hidden" ngModel="{{userLoggedIn.uid}}" name="uid">
                                                <button class="btn btn-danger" type="submit">Oui</button>
                                                <button class="btn btn-success">Non</button>
                                            </form>
                                            {{deleteUserForm.value|json}}
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Picture-->
                    <div class="modal fade" id="myModalPhoto" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="row">
                                    <div class="col">
                                        <div id="carouselExampleDark" class="carousel carousel-dark slide"
                                            data-bs-ride="carousel">
                                            <div class="carousel-indicators">
                                                <button type="button" data-bs-target="#carouselExampleDark"
                                                    data-bs-slide-to="0" class="active" aria-current="true"
                                                    aria-label="Slide 1"></button>
                                                <button type="button" data-bs-target="#carouselExampleDark"
                                                    data-bs-slide-to="1" aria-label="Slide 2"></button>
                                                <button type="button" data-bs-target="#carouselExampleDark"
                                                    data-bs-slide-to="2" aria-label="Slide 3"></button>
                                            </div>
                                            <div class="carousel-inner">
                                                <div class="carousel-item active" data-bs-interval="10000">
                                                    <img src="{{urlPict+selectedPost?.listPictures[0].urlPicture}}"
                                                        class="d-block w-100" alt="...">
                                                    <div class="carousel-caption d-none d-md-block">
                                                    </div>
                                                </div>
                                                <div class="carousel-item" data-bs-interval="2000">
                                                    <img src="..." class="d-block w-100" alt="...">
                                                    <div class="carousel-caption d-none d-md-block">
                                                        <h5>Second slide label</h5>
                                                        <p>Some representative placeholder content for the
                                                            second slide.</p>
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="..." class="d-block w-100" alt="...">
                                                    <div class="carousel-caption d-none d-md-block">
                                                        <h5>Third slide label</h5>
                                                        <p>Some representative placeholder content for the
                                                            third
                                                            slide.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="carousel-control-prev" type="button"
                                                data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button"
                                                data-bs-target="#carouselExampleDark" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </button>
                                        </div>
                                        <!-- commentaire -->
                                        <div class="card-body">
                                            <div class="d-flex flex-start align-items-center">
                                                <img class="rounded-circle shadow-1-strong me-3"
                                                    src="{{urlPict+userLoggedIn.profileImageURL}}" alt="avatar"
                                                    width="60" height="60" />
                                                <div>
                                                    <h6 class="fw-bold text-primary mb-1">{{userLoggedIn.username}}</h6>
                                                    <p class="text-muted small mb-0">
                                                        {{selectedPost?.date|date}}
                                                    </p>
                                                </div>
                                            </div>
                                            <p class="mt-3 mb-4 pb-2">
                                                {{selectedPost?.description}}
                                            </p>
                                            <div class="small d-flex justify-content-start">
                                                <form #likeForm="ngForm" (ngSubmit)="addHeart(likeForm.value)">
                                                    <input type="hidden" ngModel="{{selectedPost?.idPost}}"
                                                        name="idPost">
                                                    <input type="hidden" ngModel="{{selectedPost?.idUser}}"
                                                        name="idUser">
                                                    <button class="d-flex align-items-center me-3"
                                                        *ngIf="!postLikeByUser" type="submit">
                                                        <i class="far fa-heart fa-lg"></i>
                                                    </button>
                                                    <button class="d-flex align-items-center me-3"
                                                        *ngIf="postLikeByUser" type="submit">
                                                        <i class="fas fa-heart fa-lg"></i>
                                                    </button>
                                                </form>
                                                <a class="d-flex align-items-center me-3"
                                                    (click)="openAndCloseComment()">
                                                    <i class="far fa-comments fa-lg"></i>
                                                </a>
                                                <br>
                                                <br>
                                            </div>
                                            <div class="small d-flex justify-content-start">
                                                328 J'aime
                                            </div>
                                        </div>
                                        <div class="row d-flex justify-content-center d-none" id="commentProfil">
                                            <div class="col">
                                                <div class="card">
                                                    <div class="card-body"
                                                        *ngFor="let comment of commentsForSelectedPost">
                                                        <div class="d-flex flex-start align-items-center">
                                                            <img class="rounded-circle shadow-1-strong me-3"
                                                                src="{{urlPict+comment.profileImageURL}}" alt="avatar"
                                                                width="60" height="60" />
                                                            <div>
                                                                <h6 class="fw-bold text-primary mb-1">
                                                                    {{comment.username}}</h6>
                                                                <p class="text-muted small mb-0">
                                                                    {{comment.dateTime|date}}
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <p class="mt-3 mb-4 pb-2">
                                                            {{comment.comment}}
                                                        </p>
                                                        <p *ngIf="comment.idUser == userLoggedIn.uid">
                                                            <button><i class="fas fa-edit fa-sm"></i></button>
                                                            <button (click)="DeleteComment(comment.idComment)"><i class="fas fa-trash fa-sm"></i></button>
                                                        </p>
                                                    </div>
                                                    <div class="card-footer py-3 border-0"
                                                        style="background-color: #f8f9fa;">
                                                        <form #CommentForm="ngForm"
                                                            (ngSubmit)="onComment(CommentForm.value)">
                                                            <div class="d-flex flex-start w-100">
                                                                <img class="rounded-circle shadow-1-strong me-3"
                                                                    src="{{urlPict+userLoggedIn.profileImageURL}}"
                                                                    alt="avatar" width="40" height="40" />
                                                                <div class="form-outline w-100">
                                                                    <input type="hidden"
                                                                        ngModel="{{selectedPost?.idPost}}"
                                                                        name="idPost">
                                                                    <input type="hidden"
                                                                        ngModel="{{selectedPost?.idUser}}"
                                                                        name="idUser">
                                                                    <input type="hidden"
                                                                        ngModel="{{userLoggedIn.profileImageURL}}"
                                                                        name="profileImageURL">
                                                                    <input type="hidden"
                                                                        ngModel="{{userLoggedIn.username}}"
                                                                        name="username">
                                                                    <textarea class="form-control" ngModel
                                                                        name="comment" id="textAreaExample" rows="4"
                                                                        style="background: #fff;"></textarea>
                                                                    <label class="form-label"
                                                                        for="textAreaExample">Message</label>
                                                                </div>
                                                            </div>
                                                            <div class="float-end mt-2 pt-1">
                                                                <button type="submit"
                                                                    class="btn btn-primary btn-sm">Post
                                                                    comment
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>