<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">

                <div class="card-body">
                    <div class="card-title mb-4">
                        <div class="d-flex justify-content-start">
                            <div class="image-container">

                                <div class="input-group-mb-2">
                                    <div class="input-group-prepend">

                                        <label for="test">
                                            <img src="{{urlPict+userLoggedIn.profileImageURL}}" id="imgProfile"
                                                width="200" height=" 200" class="img-thumbnail" />

                                        </label>
                                        <input type="file" name="profileImage" id="test" hidden="true"
                                            (change)="onProfileImageChange($event,userLoggedIn.username)"
                                            class="custom-file-input">

                                    </div>

                                </div>
                                <!-- button for modal Profil -->
                                <div>
                                    <button class="btn btn-dark" (click)="openModalProfil()">Modifier votre
                                        profil</button>
                                </div>
                                <div>
                                    <button class="btn btn-dark" (click)="openModalBiography()">Modifier votre
                                        biographie</button>
                                </div>


                            </div>
                            <div class="userData ml-3">
                                <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold; margin-left:10px">
                                    {{userLoggedIn.username}}
                                </h2>

                                <h6 class="d-block">

                                    {{userLoggedIn.listPost.length}} Publications
                                </h6>
                                <h6 class="d-block">

                                    7 Followers
                                </h6>
                                <h6 class="d-block">

                                    8 Suivi(e)
                                </h6>
                                <h6 class="d-block">
                                    <H5>Biographie :</H5>
                                    <textarea class="form-control" name="" id="" cols="100"
                                        rows="5">{{userLoggedIn.biography}}</textarea>

                                </h6>
                            </div>

                        </div>
                    </div>


                    <!-- modal Profil -->
                    <div class="modal fade" id="myModalProfil" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="row">
                                    <div class="container">

                                        <h2 class="text-center">Modifier l'utilisateur :
                                            {{userLoggedIn.username}}</h2>
                                        <a href="/profil" class="btn btn-primary">Retour</a>
                                        <div class="border">
                                            <form #editUserForm="ngForm" (ngSubmit)="onEdit(editUserForm.value)">
                                                <div class="form-floating mb-3">
                                                    <select name="genre" [(ngModel)]="userLoggedIn.genre">
                                                        <option value="">{{userLoggedIn.genre}}</option>
                                                        <option value="homme">Monsieur</option>
                                                        <option value="femme">Madame</option>
                                                    </select>
                                                </div>
                                                <div class="form-floating mb-3">
                                                    <select name="role" [(ngModel)]="userLoggedIn.role">
                                                        <option value="">{{userLoggedIn.role}}</option>
                                                        <option value="ROLE_SUPER_ADMIN">Admin</option>
                                                        <option value="ROLE_USER">User</option>
                                                    </select>
                                                </div>

                                                <label for="floatingInput">Pseudo</label>
                                                <div class="form-floating mb-3">
                                                    <input [(ngModel)]="userLoggedIn.username" name="username"
                                                        type="text" class="form-control" />
                                                </div>
                                                <label for="floatingInput">Email address</label>
                                                <div class="form-floating mb-3">
                                                    <input [(ngModel)]="userLoggedIn.email" name="email" type="email"
                                                        class="form-control" />
                                                </div>

                                                <label for="floatingInput">Nom Complet</label>
                                                <div class="form-floating mb-3">
                                                    <input [(ngModel)]="userLoggedIn.completeName" name="completeName"
                                                        type="text" class="form-control" />
                                                </div>

                                                <label for="floatingInput">Date de naissance</label>
                                                <div class="form-floating mb-3">
                                                    <input [(ngModel)]="userLoggedIn.age" name="age" type="date"
                                                        class="form-control" id="floatingInput" placeholder="prenom"
                                                        required />
                                                </div>
                                                <button type="submit">Envoyer</button>
                                            </form>
                                            {{editUserForm.value|json}}
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- modal biography -->
                    <div class="modal fade" id="myModalBiography" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="row">
                                    <div class="container">
                                        <h6 class="d-block">
                                            <form #editUserBiographyForm="ngForm"
                                                (ngSubmit)="onEdit(editUserBiographyForm.value)">
                                                <H5>Biographie :</H5>
                                                <textarea class="form-control" ngModel name="biography" id="" cols="100"
                                                    rows="5">{{userLoggedIn.biography}}</textarea>
                                                <button type="submit">Publier</button>
                                            </form>
                                            {{editUserBiographyForm.value|json}}
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Picture-->
                    <div class="modal fade" id="myModalPhoto" tabindex="-1" role="dialog"
                        aria-labelledby="myModalLabel">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div id="carouselExampleDark" class="carousel carousel-dark slide"
                                            data-bs-ride="carousel">
                                            <div class="carousel-indicators">
                                                <button type="button" data-bs-target="#carouselExampleDark"
                                                    data-bs-slide-to="0" class="active" aria-current="true"
                                                    aria-label="Slide 1"></button>
                                                <button type="button" data-bs-target="#carouselExampleDark"
                                                    data-bs-slide-to="1" aria-label="Slide 2"></button>
                                                <button type="button" data-bs-target="#carouselExampleDark"
                                                    data-bs-slide-to="2" aria-label="Slide 3"></button>
                                            </div>
                                            <div class="carousel-inner">
                                                <div class="carousel-item active" data-bs-interval="10000">
                                                    <img src="{{urlPict+selectedPost?.listPictures[0].urlPicture}}"
                                                        class="d-block w-100" alt="...">
                                                    <div class="carousel-caption d-none d-md-block">
                                                    </div>
                                                </div>
                                                <div class="carousel-item" data-bs-interval="2000">
                                                    <img src="..." class="d-block w-100" alt="...">
                                                    <div class="carousel-caption d-none d-md-block">
                                                        <h5>Second slide label</h5>
                                                        <p>Some representative placeholder content for the
                                                            second slide.</p>
                                                    </div>
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="..." class="d-block w-100" alt="...">
                                                    <div class="carousel-caption d-none d-md-block">
                                                        <h5>Third slide label</h5>
                                                        <p>Some representative placeholder content for the
                                                            third
                                                            slide.</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="carousel-control-prev" type="button"
                                                data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button"
                                                data-bs-target="#carouselExampleDark" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </button>
                                        </div>
                                    </div>

                                    <!-- commentaire -->
                                    <div class="col-md-4">
                                        <div class="modal-body inline">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <img src="{{urlPict+userLoggedIn.profileImageURL}}" width="50"
                                                        height="50" alt="..." class="img-circle">
                                                </div>
                                                <div class="col-md-9">
                                                    <p>{{userLoggedIn.username}}</p>
                                                    <br />
                                                    <!-- <span class="glyphicon glyphicon-heart"></span> Icon -->
                                                </div>
                                            </div>
                                            <hr />
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                Similique quos, laboriosam eaque debitis
                                                deserunt dolore. Tempora voluptatem, officia ratione
                                                perferendis
                                                nisi quos itaque! Labore officiis
                                                explicabo recusandae. Sequi, alias enim!
                                                Veniam adipisci ex assumenda natus illum, facilis magnam
                                                nulla
                                                quasi minus omnis error aspernatur, commodi
                                                eligendi? Ab necessitatibus eius rem est ex voluptatum
                                                officia
                                                modi quisquam labore. Ipsum, debitis
                                                possimus!</p>
                                            <div class="input-group">
                                                <textarea class="form-control" aria-label="With textarea"></textarea>
                                                <div class="input-group-prepend">
                                                    <button class="btn btn-dark" type="submit">Publier</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>

                </div>



                <div class="row">
                    <div class="col-12">
                        <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                            <li class="nav-item">
                                <h3 class="btn" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab"
                                    aria-controls="basicInfo" aria-selected="true">Vos Photos</h3>
                            </li>

                        </ul>
                        <div class="container">


                            <!-- button for modal picture -->
                            <div class="row">
                                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0" *ngFor="let item of posts">
                                    <a (click)="openModalPhoto(item)"><img *ngIf="item.idPost % 2 == 0"
                                            src="{{urlPict+item.listPictures[0].urlPicture}}"
                                            class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" /></a>

                                    <img *ngIf="item.idPost % 2 != 0" src="{{urlPict+item.listPictures[0].urlPicture}}"
                                        class="w-100 shadow-1-strong rounded mb-4" alt="Wintry Mountain Landscape" />
                                </div>



                            </div>
                        </div>

                    </div>


                </div>

            </div>
        </div>
    </div>
</div>