<div class="container">
    <h2 class="text-center">Modifier le post</h2>
    <a href="/admin/listPost" class="btn btn-primary">Retour</a>
    <div class="border">
      <form #editPostImageForm="ngForm" (ngSubmit)="onEdit(editPostImageForm.value)">
      <div class="input-group-mb-2">
        <div class="input-group-prepend">
          <span class="input-group-text"><img src="{{urlPict+editPost.postImageUrl}}" alt="" srcset=""></span>
        </div>
        <div class="custom-file">
          <input type="file" name="profileImage" (change)="onPostImageChange($event,editPost.idPost)"
            class="custom-file-input">
          <label class="custom-file-label">
            <span [hidden]="!fileName">{{fileName}}</span>
            <span [hidden]="fileName">{{editPost.postImageUrl}}</span>
          </label>
        </div>
      </div>
    </form>
      <form #editPostForm="ngForm" (ngSubmit)="onEdit(editPostForm.value)">
          <label for="floatingInput">Description</label>
        <div class="form-floating mb-3">
            <textarea name="description" [(ngModel)]="editPost.description" class="form-control" id="floatingInput"
              placeholder="la description de votre choix" required cols="30" rows="10"></textarea>
    
          </div>
    
          <button type="submit" [disabled]="editPostForm.invalid">Envoyer</button>
      </form>
    </div>
  </div>